<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400, 600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="./static/Styles.css">
  </head>
  <body>
    <div class="header">
      <div class="container">
        <ul class="nav">
            <ul class="menu-items">
                <li><a href="HOME.html">HOME</a></li>
                <li><a href="About.html">ABOUT</a></li>
                <li><a href="login.html">LOGIN</a></li>
                 <li><a href="SIGNUP.html">SIGNUP</a></li>
       </ul>
        </ul>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>NEWS APP</h1>
          <a href="#" class="btn-main">Get Started</a>
        </div>
        </div>
      </div>
  </body>
</html>